* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

main {
    margin-inline: auto;
}

.header {
    background-color: #707070;
    height: 400px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-pai {
    width: 100%;
    max-width: 760px;
}

.header-mensagens {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    text-align: center;
}


.header-mensagens > h3 {
    margin-top: 24px;
}

h2 {
    font-size: 20px;
    font-weight: 300;
}

.header-mensagens > h2 > span {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 14px;
    font-weight: 300;
    /* margin-top: 20px; */
}

.header-menu {
    margin-inline: auto;
    margin-top: 50px;
}

.header-menu > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
}

.header-menu > ul > li {
    font-size: 14px;
    background-color: #FFFFFF;
    color: #888888;
    border: 1px solid #707070;
    border-radius: 4px;
    box-shadow: 0px 1px 6px #00000029;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
}

.section-cadastro {
    max-width: 960px;
    margin-inline: auto;
    margin-top: 21px;
    display: flex;
    flex-direction: row;
    color: #888888;
}

.section-cadastro input {
    border: 1px solid #707070;
}

.cadastro-mensagens {
    max-width: 520px;
    padding-right: 30px;
}

.cadastro-mensagens > h2 {
    margin-bottom: 15px;
}

.cadastro-form {
    padding-left: 30px;
    flex: 1;
}

.form {
    display: flex;
    flex-direction: column;
}

.form > input {
    margin-bottom: 20px;
    height: 30px;
    border: 1px solid #707070;
}

.form-sexo {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 23px;
    align-items: center;
}

.form-sexo > input {
    margin-right: 5px;
}

#sexo-feminino {
    margin-left: 40px;
}

.form > button {
    font-size: 16px;
    height: 40px;
    color: #888888;
    background-color: #FFF;
    border: 1px solid #707070;
    border-radius: 4px;
    cursor: pointer;
}

.section-produtos, .section-newsletter {
    max-width: 960px;
    margin-inline: auto;
    margin-top: 80px;
    border-top: 1px solid #888888; 
}

.container-produtos-titulo, .container-newsletter-titulo {
    text-align: center;
    margin-top: -21px;
}

.container-produtos-titulo h3, .container-newsletter-titulo h2 {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    color: #888888;
    background-color: #FFF;
    padding: 10px 17px;
}

.card-produto {
    width: 150px;
    color: #888888;
}

.card-produto img {
    width: 100%;
    border: 1px solid #707070;
}

.card-img {
    width: 
}

.card-produto h3 {
    font-size: 18px;
    margin: 14px 0;
}

.card-produto p {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-produto span {
    font-size: 16px;
    font-weight: bold;
}

.button-comprar, .button-mais-produtos, .button-newsletter {
    font-size: 16px;
    padding: 6px 0;
    color: #888888;
    background-color: #FFF;
    border: 1px solid #707070;
    border-radius: 4px;
    cursor: pointer;
}

.button-comprar {
    width: 100%;
}

.button-mais-produtos {
    width: 260px;
    display: block;
    margin: 52px auto 128px auto;
}

.section-newsletter {
    max-width: 960px;
    margin-inline: auto;
    color: #888888;
}

.container-newsletter-mensagem {
    text-align: center;
}

.button-newsletter {
    width: 260px;
}

.newsletter-form-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.newsletter-form-inputs {
    display: flex;
    justify-content: center;
}

footer {
    width: 100%;
    background-color: #707070;
}

.container-footer {
    max-width: 260px;
    margin-inline: auto;
    padding: 10px;
    color: #FFF;
    font-size: 12px;
    text-align: center;
}